<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="https://www.flixcloud.com/jobs"
                binding="webHttpBinding"
                contract="FlixCloud.Client.IFlixCloudClient"
                behaviorConfiguration="FlixCloudBehaviour"
                bindingConfiguration="webBinding"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="FlixCloudBehaviour">
          <webHttp/>
          <clientCredentials>
            <clientCertificate findValue="www.flixcloud.com"
                               x509FindType="FindBySubjectName"
                               storeLocation="CurrentUser"
                               storeName="TrustedPeople"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>